# Configuración General
CSV_FILE_PATH=./data/participants.csv
DATE=2026-02-13
COMPETITION_DATE=13 de febrero de 2026

# Configuración de Certificados
TEMPLATE_PATH=./templates/{name}.svg
FONT_PATH=./fonts/Baskervville-Regular.ttf
FONT_NAME=Baskervville
OUTPUT_DIR=./out/

# Configuración de Emails
EMAIL=
SUBJECT=
MESSAGE=
